body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Didact Gothic', sans-serif;
}

.wrapper {
  width: 100%;
  height: auto;
  display: grid;
  align-items: center;
}

/* HEADER  */

.headWrapper {
  width: 100%;
  padding: 1.5% 0% .6% 0%;
  background-color: #c0dfd9;
  position: static;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: minmax(100% auto);
  grid-gap: 1.7em;
}

#headBox {
  position: sticky;
  top: 0;
  width: 100%;
}

.headBox1 {
  grid-column: 1/4;
  color: #fff;
  font-stretch: extra-expanded;
  font-size: 2.7em;
  text-align: center;
  text-shadow: 0px 0px 0px transparent, 0px 1px 15px #6e6c64, 2px 1px 4px #c0dfd9, 1px 2px 5px #6e6c64, 3px 2px 5px #c0dfd9, 2px 3px 5px #6e6c64, 4px 3px 5px #e9ece5, 3px 4px 5px #6e6c64, 5px 4px 5px #6e6c64, 4px 5px 5px #6e6c64;
}

.headBox2 {
  background-color: #fff;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: minmax(100% auto);
  justify-items center;
  align-items: baseline;
}

.headBox2 button {
  background-color: #fff;
  padding: .7em 3em .7em 3em;
  border-radius: 0;
  border: none;
}

.headBox2 a {
  color: #3b3a36;
  font-size: 1.4em;
  text-decoration: none;
}

.headBox2 button:hover {
  background-color: #b3c2bf;
}

.headBox2 button:hover a {
  color: #fff;
  text-shadow: 0px 0px 0px transparent, 0px 1px 10px #8a877e, 0.7px 0.5px 1px #c0dfd9, 0.5px 1px 3px #8a877e, 1.3px 0.7px 2px #c0dfd9, 1px 2px 3px #8a877e, 1.5px 1px 2px #e9ece5, 2px 3px 4px #8a877e, 2px 1.5px 2px #8a877e, 2px 3px 4px #8a877e;
}

/*  Main Content  */

.mainWrapper {
  background-image: url('../img/marble.jpg');
  background-size: cover;
  padding: 2em;
  display: grid;
  grid-template-columns: 3fr 10%;
  grid-row: minmax(100% auto);
  grid-gap: 1em;
  justify-items: flex-end;
  align-items: flex-start;
}

.mainContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4em;
}

.headShot {
  margin: 0 auto;
}

.headShot img {
  border: .5em solid #97c2ba;
}

.shortBio {
  border: .5em solid #a5ccc5;
  padding: 1em;
  color: #3b3a36;
}

.shortBio h2 {
  font-size: 2em;
  font-weight: bolder;
  color: #3b3a36;
}

.contact {
  border: .5em solid #a5ccc5;
  padding: 1em;
}

.contact h3 {
  font-size: 2em;
  font-weight: bolder;
  color: #3b3a36;
}

.contact:nth-child(2) {
  padding: 2%;
}

.social {
  grid-column: 2/3;
  display: flex;
  flex-flow: column;
}

.social>a {
  color: #3b3a36;
  padding: 1em;
}

.social>a:hover {
  color: #97c2ba;
}

/*  Footer CSS   */

.footer {
  padding: .5em;
  background-color: #c0dfd9;
  color: #3b3a36;
  font-weight: 500;
  text-align: center;
}

/* Mobile CSS  */

@media (max-width: 768px) {
  .mainWrapper {
    padding: 1em;
    display: grid;
    grid-template-columns: 3fr;
    justify-items: center;
    align-items: center; 
    grid-row: 2fr;
    grid-gap: 1em;
  }

  .mainContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
  }

  .social {
    grid-column: 1/3;
    grid-row: 2/3;
    flex-flow: row;
  }
  .social > img {
    text-align: center;
  }
}

@media (max-width:480px) {}

/* credit
Photo by rawpixel on Unsplash (marbleButton)
 */
