body {
  width: 100%;
  height: auto;
  background-color: #21252b;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

#container {
  width: 75%;
  height: auto;
  margin: 0 13% 0 13%;
  padding: 2% 10% 2% 10%;
  box-sizing: border-box;
  text-align: center;
  font-size: 1em;
}

h1 {
  font-size: 2em;
}

#footer {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 1.1em;
}
