body {
  width: 100%;
  height: auto;
  background-color: #21252b;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

#container {
  width: 96%;
  height: auto;
  margin: 2%;
  padding: 5% 5% 2% 5%;
  box-sizing: border-box;
  text-align: center;
  font-size: 1em;
  background-image: url("../images/blackauto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.head{
  padding: 0% auto;
    background-color: rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2.5em;
}

#gridBox{
  width: 100%;
  height: 48vh;
  padding: 2% 0;
  margin: 0 auto;
  display: grid;
  grid-gap: .2em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(100, auto);
  justify-items: center;
  font-size: 1.5em;
}

#gridBox button{
  width: 100%;
  font-size: .9em;
  padding: 2% 0%;
}

.prodButton:hover, .sellButton:hover{
  background-color: #fc7d00;
  color: rgba(0, 0, 0, 1);
  box-shadow: 0 6px 15px rgba(250, 250, 250, .4);
}

#stats, #productionLine, #carSalesLot{
  width: 100%;
  height: auto;
  background-color: rgba(84, 84, 84, .2);
  padding: % auto;
}

#stats div {
  font-size: .8em;
  text-shadow: 1px 1px #e5410b,
               2px 2px #424242;
}

.button {
  display: none; 
  width:70%;
  height:5%;
  font-size: .7em;
  border:1px solid #e5410b;
  border-radius:5px;
  text-align: center;
  cursor:pointer;
  background-color: rgba(84, 84, 84, .5);
}

#footer {
  width: 96%;
  margin: 2%;
  padding: .5% 0%;
  height: auto;
  text-align: center;
  font-size: 1.1em;
  background-color: black;
}
