/*FONT CSS:
  font-family: 'Nunito Sans', sans-serif;
  color palate:
    Prussian Blue: #083C5D
    Sky Blue: #328CC1
    Gold Leaf: #D98310
    Ivory Black: #1d2731
    Embers: #B82601
    Dove Grey: #d9d9d9
*/

body {
  width: 100%;
  height: 100%;
  background-color: #1d2731;
  margin: 0%;
  padding: 0%;
}

.top-header {
  width: 100%;
  height: 15%;
  margin: 0%;
  padding: 0%;
  position: absolute;
  top: 0%;
  display: flex;
  background-color: #d9d9d9;
}

#logo {
  width: 50%;
  height: 15%;
  position: relative;
  left: 5%;
  top: 10%;
}

#nav {
  width: 50%;
  height: 15%;
  padding: 0% 1% 0% 1%;
  position: relative;
  right: 0%;
  top: 25%;
}

#nav a {
  padding: 0% 1% 0% 1%;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 110%;
  font-weight: bolder;
  color: #D98310;
  text-decoration: none;
}

#nav a:link {
  color: #D98310;
}

#nav a:active {
  color: #328CC1;
}

#nav a:hover {
  color: #B82601;
}

#nav span {
  padding: 0% 2% 0% 2%;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 100%;
  font-weight: lighter;
  color: #083C5D;
  text-decoration: none;
}

#nav span:hover {
  color: #B82601;
}

#nav .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #1d2731;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#nav .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 100%;
  color: #D98310;
  display: block;
  transition: 0.3s;
}

#nav .sidenav a:hover {
  color: #B82601;
  font-size: 100%;
}

#nav .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 100%;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
